h1{
color: white;
background-color: black;
text-align: left;
text-decoration: none;
font-style:normal;
font-weight: bold;
}
h2{
color: white;
background-color: #66349a;
text-align: center;
text-decoration: none;
font-style:italic;
font-weight: normal;
}
h3{
color: #5b679d;
background-color: #9fc5f8;
text-align: right;
text-decoration: underline;
font-style: normal;
font-weight: normal;
}
/* color from Chrome extension - Colorgrab */