<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
</head>
<body>
    <form action="/process" method="post">
        <label for="name">Your Name: </label>
        <input type="text" name="name" id="name">
        <label for="location">Dojo Location: </label>
        <select name="location" id="location">
            <option value="Chicago">Chicago</option>
            <option value="SanJose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Online">Online</option>
        </select>
        <label for="language">Favorite Language</label>
        <select name="language" id="language">
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="C#">C#</option>
        </select>
        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>