<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
    <title>checkerboard</title>
</head>
<body>
    <h1>***Checkerboard***</h1>
    <table>
        {%for idxh in range(num_height)%}
        <tr>
            {% for idx in range(num_wide)%}
            {% if idx*idxh%2==1 and idx!=0 and idxh!=0%}
            <td id="color1" style="background-color: {{color1}};"></td>
            {%elif idx*idxh%2==0 and idx!=0 and idxh!=0 and idxh%2==1%}
            <td id="color2" style="background-color: {{color2}};"></td>
            {%elif idx*idxh%2==1 and idx!=0 and idxh!=0 and idxh%2==1%}
            <td id="color1" style="background-color: {{color1}};"></td>
            {%elif idx==0 and idxh%2==0%}
            <td id="color1" style="background-color: {{color1}};"></td>
            {%elif idx==0 and idxh%2==1%}
            <td id="color2" style="background-color: {{color2}};"></td>
            {%elif idxh==0 and idx%2==0%}
            <td id="color1" style="background-color: {{color1}};"></td>
            {%elif idxh==0 and idx%2==1%}
            <td id="color2" style="background-color: {{color2}};"></td>
            {%elif idxh%2==0 and idx%2==1%}
            <td id="color2" style="background-color: {{color2}};"></td>
            {%elif idxh%2==0 and idx%2==0%}
            <td id="color1" style="background-color: {{color1}};"></td>
            {%endif%}
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>
</html>