<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' integrity='sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu' crossorigin='anonymous'>
    <title>User</title>
</head>
<body>
    <div class='container'>
        <div class="navbar nav justify-content-end">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/comingsoon">Fishes</a>
            <a class="nav-item nav-link" href="/comingsoon">Sites</a>
        </div>
        <div class="row d-flex align-items-center">

            <div class="col-xs-6">
                <div class='row-2'>
                    <h1>Add a new user</h1>
                </div>
                
                <form action='/user/create' method='post'>
                    <div class='mb-3'>
                        <label for='first_name'>First Name</label>
                        <input type='text' class='form-control' name='first_name' id='first_name'>
                        {% with errors = get_flashed_messages(category_filter=["err_reg_first"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <a class="close" href="#">×</a>
                            <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class='mb-3'>
                        <label for='last_name'>Last Name</label>
                        <input type='text' class='form-control' name='last_name' id='last_name' >
                        {% with errors = get_flashed_messages(category_filter=["err_reg_last"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <a class="close" href="#">×</a>
                            <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class='mb-3'>
                        <label for='email'>Email</label>
                        <input type='text' class='form-control' name='email' id='email' >
                        {% with errors = get_flashed_messages(category_filter=["err_reg_em"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <a class="close" href="#">×</a>
                            <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class='mb-3'>
                        <label for='password'>Password</label>
                        <input type='password' class='form-control' name='pw' id='password' >
                        {% with errors = get_flashed_messages(category_filter=["err_reg_pw"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <a class="close" href="#">×</a>
                            <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class='mb-3'>
                        <label for='confirm_password'>Confirm Password</label>
                        <input type='password' class='form-control' name='confirm_pw' id='confirm_password' >
                        {% with errors = get_flashed_messages(category_filter=["err_reg_cpw"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <a class="close" href="#">×</a>
                            <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <button class='btn btn-success'>Add User</button>
                </form>
                
            </div>
                
            
            
            <div class="col-xs-6">
                <div class='row-2'>
                    <h1>Login</h1>
                </div>
                
                <form action='/user/signin' method='post'>
                    
                    {% with errors = get_flashed_messages(category_filter=["err_login"]) %}
                    {% if errors %}
                    <div class="alert-message block-message error">
                        <a class="close" href="#">×</a>
                        <ul>
                            {%- for msg in errors %}
                            <li>{{ msg }}</li>
                            {% endfor -%}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class='mb-3'>
                        <label for='email'>Email</label>
                        <input type='text' class='form-control' name='email' id='email' >
                    </div>
                    <div class='mb-3'>
                        <label for='password'>Password</label>
                        <input type='password' class='form-control' name='pw' id='password' >
                    </div>
                    <button class='btn btn-success'>Login</button>
                </form>
                
                
            </div>
            
        </div>
            
    </div>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' integrity='sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd' crossorigin='anonymous'></script>
</body>
</html>